<h1 class="heading">Welcome to CSE Motors!</h1>
<picture class="hero">
    <source srcset="/images/vehicles/delorean-lg.webp" media="(min-width:800px)">
    <source srcset="/images/vehicles/delorean-md.webp" media="(min-width:580px)">        
    <img src="/images/vehicles/delorean-tn.webp" alt="DMC Delorean." width="300" height="153">
    
</picture>
<div class="delorean">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p class="space">Fuzzy dice!</p>
        <a class="own" href="#" title="Buy a Delorean">Own Today</a>
</div>
<div class="reviews"> 
    <h2>DMC Delorean Reviews</h2>         
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>       
<div class="upgrades">            
    <h2 class="icons">Delorean Upgrades</h2>            
    <div>
        <picture class="capacitor">
            <source srcset="/images/upgrades/flux-cap.png" media="(min-width:800px)">       
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Image" width="65" height="65">
        </picture> 
        <a href="#" title="Flux Capacitor">Flux Capacitors</a>       
    </div>

    <div>
        <picture class="decals">
            <source srcset="/images/upgrades/flame.jpg" media="(min-width:800px)">       
            <img src="/images/upgrades/flame.jpg" alt="Flame Decal Image" width="65" height="82">
        </picture>
        <a href="#" title="Flame Decal upgrades">Flame Decals</a>  
    </div>
    <div>
        <picture class="stickers">
            <source srcset="/images/upgrades/bumper_sticker.jpg" media="(min-width:800px)">       
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker Image" width="65" height="57">
        </picture>
        <a href="#" title="Bumper Sticker upgrades">Bumper Stickers</a>          
    </div>
    <div>
        <picture class="caps">
            <source srcset="/images/upgrades/hub-cap.jpg" media="(min-width:800px)">       
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap Image" width="65" height="65">
        </picture>
        <a href="#" title="Hub cap upgrades">"Hub Caps</a>          
    </div>
</div>   
