/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
    --primary-color: #89Faf6;
    --secondary-color: #a3a3a3;
    --accent1-color: #1f1f1f;

    --heading-font: "Audiowide", Arial, sans-serif;
    --paragraph-font: "Gowun Dodum", Arial, sans-serif;

    --nav-background-color: #a3a3a3;
    --nav-link-color: #1f1f1f;
    --nav-hover-background-color: #EEE8D3;

    --border: rgba(63, 57, 240, 0.996);
    --background-color: rgba(0, 128, 128, 0.5);
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--primary-color);  
}

header { 
  display:inline-flex;  
  text-decoration-style: none;
  justify-content: space-between;  
}

header span.siteName a { 
  font-size: 1.5rem;
  font-family: var(--heading-font);
  text-align: left;
  text-decoration: none;
  text-decoration-color:#1F1F1F;
  color: var(--accent1-color);
}

header div a {
  text-decoration: none;
  color: var(--accent1-color);
  text-align: right;
}

Nav {
  
  background-color: var(--secondary-color);
  Padding: 2px;
}

Nav ul {
  justify-items: space-evenly;
}

nav li{
  display: inline;
  text-align: center;
  list-style: none;
  padding: 12px 2px;  
}

nav li:hover {
  background-color: var(--nav-hover-background-color);
}

@media screen and (min-width: 580px) {

}

@media screen and (min-width: 720px) {

     
}

@media screen and (min-width: 1080px) {

   
}