<!-- Generate a title with values created in the controller, or return the home view. -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<div id="manageInv">
    <a href="#">Add New Classification</a><br>
    <a href="#">Add New Vehicle</a>

<h2>Manage Inventory</h2>
<p>Choose a classifcation to modify those Inventory items.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../js/inventory.js"></script>
</div>